.tracks {
  display: none;
}

.radio-inline {
  margin-bottom: 20px;
}

.form-check {
  margin-bottom: 20px;
}

label {
  margin-bottom: 20px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Archivo Black', sans-serif;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50%;
  width: 50%;
}

body  {
  background-image: url("https://img.freepik.com/free-photo/paperboard-carton-surface-beige-plain_1253-775.jpg?size=626&ext=jpg");
  background-color: #cccccc;
  background-size: cover;
}
